<div id="page-wrapper">
    
    <div class="container-fluid">

        <div class="col-lg-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="huge">
                            <div class="col-md-6">
                                <h2 style="float:left;">이벤트 일정 한눈에 보기</h2> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12" style="margin-bottom:20px;">
            <%= image_tag "joojum22.png", class:"img-responsive",style: "width:100%" %>
        </div>
            
        <div class="col-lg-6">
            
            <div class="col-lg-12 col-md-12">
                
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                                <!--<div class="col-xs-3">-->
                                <!--    <i class="fa fa-tasks fa-5x"></i>-->
                                <!--</div>-->
                            <div class="col-xs-9 text-left">
                                <div class="huge">19일 진행 이벤트</div>
                                        <!--<div>New Tasks!</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--<h2>Bordered with Striped Rows</h2>-->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>이벤트 진행 시간</th>
                                <th>이벤트 주관</th>
                                <th>이벤트내용</th>
                                <th>이벤트위치</th>
                                <th>이벤트소개</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>09:00~13:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                            <tr>
                                <td>17:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                            <tr>
                                <td>17:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
            
        </div>
        
        <div class="col-lg-6">
            
            <div class="col-lg-12 col-md-12">
                
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                    <!--<div class="col-xs-3">-->
                    <!--    <i class="fa fa-tasks fa-5x"></i>-->
                    <!--</div>-->
                            <div class="col-xs-9 text-left">
                                <div class="huge">20일 진행 공연</div>
                        <!--<div>New Tasks!</div>-->
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                       <thead>
                            <tr>
                                <th>이벤트 진행 시간</th>
                                <th>이벤트 주관</th>
                                <th>이벤트내용</th>
                                <th>이벤트위치</th>
                                <th>이벤트소개</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr>
                                <td>17:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                            <tr>
                                <td>17:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                            <tr>
                                <td>17:00</td>
                                <td>멋쟁이사자처럼</td>
                                <td>라이브코딩</td>
                                <td>백주년기념관앞</td>
                                <td> <a href="">클릭 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        
        <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="active"><a href="#">19일</a>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>에어슬라이드</h3>
                                <p>일시 : 09:00~18:00</p>
                                <p>장소 : 금호아트홀 앞</p>
                                <p>가격 : 무료</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>  
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>  
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="thumbnail">
                            <img src="..." alt="...">
                            <div class="caption">
                                <h3>Thumbnail label</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                            </div>
                        </div>  
                    </div>
                </div>
            </li>
            
            <li role="presentation"><a href="#">20일</a></li>
        </ul>
        <!--<div class="col-lg-12">-->
        <!--    <p style="text-align:center; font-size:12px; background-color:yellow; color:white"><a target="_blank" href="http://yonsei.likelion.net">멋쟁이사자처럼 at 연세대학교</a></p>-->
        <!--    <span class="label label-warning" style="text-align:center; font-size:12px;"><a target="_blank" href="http://yonsei.likelion.net">멋쟁이사자처럼 at 연세대학교</a></span>-->
        <!--</div>-->
    </div>
</div>