<div id="page-wrapper">
   
   <div role="tappanel">
      
      <div id="tabs" class="tabs">
         <nav>
            <ul class="nav nav-pills">
               <li><a href="#tabs-1" data-toggle="tab">Day 19</a></li>
               <li><a href="#tabs-2" data-toggle="tab">Day 20</a></li>
               <li><a href="#tabs-3" data-toggle="tab">Map</a></li>
            </ul>
         </nav>
       
         <div class="content">
          
            <section id="tabs-1">   <!-- 19일 이벤트 정보 -->

               <div class="row">
                  
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h6 class="card-title">에어슬라이드</h6>
                               <p>장소 : 학생회관</p>
                               <p>가격 : 무료</p>
                               <p>내용 : 미끄럼틀</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">more info</a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">??</h4>
                               <p>장소 : 학생회관</p>
                               <p>가격 : 무료</p>
                               <p>내용 : 미끄럼틀</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">more info</a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">??</h4>
                               <p>장소 : 학생회관</p>
                               <p>가격 : 무료</p>
                               <p>내용 : 미끄럼틀</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">more info</a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">??</h4>
                               <p>장소 : 학생회관</p>
                               <p>가격 : 무료</p>
                               <p>내용 : 미끄럼틀</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">more info</a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">에어슬라이드</h4>
                               <p>장소 : 금호아트홀</p>
                               <p>가격 : 무료</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                   more info
                               </a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">에어슬라이드</h4>
                               <p>장소 : 금호아트홀</p>
                               <p>가격 : 무료</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                   more info
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
            </section>
           
            <section id="tabs-2">   <!-- 20일 이벤트 정보 -->
               
               <div class="row">
                  
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">에어슬라이드</h4>
                               <p>장소 : 금호아트홀</p>
                               <p>가격 : 무료</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">more info</a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">에어슬라이드</h4>
                               <p>장소 : 금호아트홀</p>
                               <p>가격 : 무료</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                   more info
                               </a>
                           </div>
                       </div>
                   </div>
                   
                   <div class="col-xs-12 col-sm-4">
                       <div class="card">
                           <span class="img-card"><img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                           <div class="card-content">
                               <h4 class="card-title">에어슬라이드</h4>
                               <p>장소 : 금호아트홀</p>
                               <p>가격 : 무료</p>
                           </div>
                           <div class="card-read-more">
                               <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                   more info
                               </a>
                           </div>
                       </div>
                   </div>
               </div>
            </section>
            
            <section id="tabs-3" >   <!-- 지도 -->
               <%= image_tag "map_event.png", class:"img-responsive", class:"center-block", :alt=>" ", :width=>"auto", :height=>"full" %>
            </section>
           
            
         </div><!--<div class="content"></div>-->
      </div><!--<div id="tabs" class="tabs"></div>-->
   </div><!--<div role="tappanel"></div>-->
</div><!--<div id="page-wrapper"></div>-->



<script>
	new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>