

<div class = "container"> 
    <div class="panel" style="margin-top:10px; border-color:#E4CBF4;">
        <div class="panel-heading" style="border-color:#E4CBF4; background-color:#E4CBF4">공연 소개</div>
        <div class="panel-body">          
            <div class="row">
                <div class="col-md-4">    
                    <div style="margin-left:60px;">
                       <img src="무미니.jpg" alt="..." class="img-thumbnail" id="single_2" style="height:250px; width:180px;">
                    </div>
                </div>
                <div class="col-md-8">
                    <br><br>
       <!-- LikeBtn.com BEGIN -->
                    <span class="likebtn-wrapper" data-theme="disk" data-i18n_like="이 공연 추천!" data-identifier="https://daehanbo-limgoodfam.c9users.io/performintro" data-dislike_enabled="false" data-icon_dislike_show="false" data-i18n_after_like="추천되었어요!" data-i18n_like_tooltip="추천하기♥" data-i18n_unlike_tooltip="추천취소하기ㅠㅠ"></span>
                    <br></br>
                    <span class="label label-default" style="background-color:#A288B3">공연이름</span> 멋쟁이 멋쟁이~~~  <br>
                    <span class="label label-default" style="background-color:#A288B3">시간</span> 11시 11분<br>
                    <span class="label label-default" style="background-color:#A288B3">위치</span> 백주년 기념관 앞 <br>
                    <span class="label label-default" style="background-color:#A288B3">공연소개</span><br>
                    멋쟁이 사자처럼에서 하는 공연 입니다~~
                    <br>
                    <div class = "list"> 
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            플레이리스트
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a href="#">여수밤바다</a></li>
                            <li><a href="#">벚꽃엔딩</a></li>
                            <li><a href="#">첫사랑</a></li>
                          </ul>
                       </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
    <div class="panel" style="border-color:#E4CBF4;">
        <div class="panel-heading" style="border-color:#E4CBF4; background-color:#E4CBF4">댓글</div>
        <div class="panel-body" style="padding-left:30px; padding-right:30px">          
            <div class="row">
                <div class="list-group">
                    <a href="#" class="list-group-item">
                        <span class="badge">just now</span>
                        <i class="fa fa-fw fa-calendar"></i>댓글1
                    </a>
                </div>
                <div class="text-right">
                    <a href="#">댓글 더보기 <i class="fa fa-arrow-circle-right"></i></a>
                </div>
                 <form class="form-inline" action="#">
                    <div class="container-fluid">
                       <div class="row">
                           <div class="form-group">
                             <label>닉네임</label>
                             <input type="text" class="form-control"  placeholder="이름">
                           </div>
                           <div class="form-group">
                             <label>내용</label>
                             <input type="text" class="form-control" id="exampleInputEmail2" placeholder="댓글 내용">
                           </div>
                           <button type="submit" class="btn btn-default">쓰기</button>
                        </div>
                     </div>
                </form>
            </div>
       </div>    
   </div>
</div> 

<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>
<!-- LikeBtn.com END -->