<div id="page-wrapper">
    <div role="tappanel">
    <div id="tabs" class="tabs">
    <nav>
      <ul>
        <li><a href="#tabs-1" data-toggle="tab">19일</a></li>
        <li><a href="#tabs-2" data-toggle="tab">20일</a></li>
      </ul>
    </nav>
    <div class="content">
        <section id="tabs-1">
        <div>
            <h1 class="heading">
                19일주점
            </h1>
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <span class="img-card">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" /></span>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="tabs-2">
        <div>
            <h1 class="heading">
                20일주점 
            </h1>
        </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                        <img src="https://1.bp.blogspot.com/-Bii3S69BdjQ/VtdOpIi4aoI/AAAAAAAABlk/F0z23Yr59f0/s640/cover.jpg" />
                      </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                상경 1반
                            </h4>
                            <p>
                                주점테마
                            </p>
                            <p>
                                주점위치
                            </p>
                        </div>
                        <div class="card-read-more">
                            <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                                주점 들리기
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
      <!--<div id="tabs-3"></div>-->
      </div>
    </div>
    </div>
</div>
<script>
	new CBPFWTabs( document.getElementById( 'tabs' ) );
</script>

<div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>공연시작</th>
                                                <th>공연팀</th>
                                                <th>공연내용</th>
                                                <th>공연위치</th>
                                                <th>공연소개</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>17:00</td>
                                                <td>멋쟁이사자처럼</td>
                                                <td>라이브코딩</td>
                                                <td>백주년기념관앞</td>
                                                <td> <a href="">클릭 </td>
                                            </tr>
                                            <tr>
                                                <td>17:00</td>
                                                <td>멋쟁이사자처럼</td>
                                                <td>라이브코딩</td>
                                                <td>백주년기념관앞</td>
                                                <td> <a href="">클릭 </td>
                                            </tr>
                                            <tr>
                                                <td>17:00</td>
                                                <td>멋쟁이사자처럼</td>
                                                <td>라이브코딩</td>
                                                <td>백주년기념관앞</td>
                                                <td> <a href="">클릭 </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>