        <div id="page-wrapper">
            <div class="container-fluid">

                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="huge">
                                    <div class="col-md-6">
                                        <h2 style="float:left;"> 공연 일정 한눈에 보기</h2> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-12" style="margin-bottom:20px;">
                        <%= image_tag "joojum22.png", class:"img-responsive",style: "width:100%"  %>
       
                    </div>
                    
                    <div class="col-lg-6">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks fa-5x"></i>
                                            </div>
                                        <div class="col-xs-9 text-left">
                                            <div class="huge">19일 공연</div>
                                                    <div>New Tasks!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <h2>Bordered with Striped Rows</h2>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>공연시작</th>
                                            <th>공연팀</th>
                                            <th>공연내용</th>
                                            <th>공연위치</th>
                                            <th>공연소개</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                
                    <div class="col-lg-6">
                        <div class="col-lg-12 col-md-12">
                            <div class="panel panel-green">
                                <div class="panel-heading">
                                    <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                        <div class="col-xs-9 text-left">
                                            <div class="huge">20일 공연</div>
                                    <div>New Tasks!</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>공연시작</th>
                                            <th>공연팀</th>
                                            <th>공연내용</th>
                                            <th>공연위치</th>
                                            <th>공연소개</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                        <tr>
                                            <td>17:00</td>
                                            <td>멋쟁이사자처럼</td>
                                            <td>라이브코딩</td>
                                            <td>백주년기념관앞</td>
                                            <td> <a href="">클릭 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-8">
                        <p><a target="_blank" href="http://yonsei.likelion.net">멋쟁이사자처럼 at 연세대학교</a>.</p>
                    </div>
                </div>
       </div>