@font-face{font-family:'Nanum Gothic'; src: font_url('/fonts/NanumGothic.woff')}
@font-face{font-family:'Nanum Gothic'; src: font_url('/fonts/NanumGothic.eot')}
 
body, table, div, p {font-family:'Nanum Gothic';}